/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.navbar {
  height: 8vh;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
}

.navbar .nav-link-item {
  font-size: 1rem;
  color: #18CC5D;
  padding: 0 0.5em;
}

.navbar .nav-link-item:hover {
  color: #fff;
  text-decoration: none;
}

.navbar .nav-link-item:active {
  color: #fff;
  text-decoration: none;
}

.subheading {
  width: 100%;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subheading .app-logo {
  margin-top: 2rem;
}

.subheading .app-categories {
  margin: 1em 0;
}

.subheading .app-categories a {
  padding: 0.5em 1em;
  margin: 0 0.5em;
  margin-bottom: 0.5em;
  background-color: #18CC5D;
  color: #fff;
}

.subheading .app-categories a:active {
  background-color: #000;
}

.subheading .app-categories a:hover {
  background-color: #000;
}

.subheading .app-categories .active {
  background-color: #000;
}

.featured-container {
  width: 90%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  left: 5%;
}

.featured-container .featured {
  border-radius: 5px;
  min-height: 65vh;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featured-container .featured .feature-image {
  position: relative;
  width: 100%;
  height: auto;
}

.featured-container .featured .feature-content {
  bottom: 5rem;
  left: 4rem;
  color: #fff;
}

.featured-container .featured .feature-content .featured-category {
  color: #fff;
}

.featured-container .featured .feature-content .featured-title {
  color: #094D23;
}

.featured-container .featured .feature-content .featured-title:hover {
  opacity: 0.5;
}

.featured-container .featured .feature-content .featured-date {
  color: #18CC5D;
  font-style: italic;
  padding-top: 0.5em;
}

.home-body__container {
  margin-top: 6rem;
  width: 90%;
}

.home-body__container .blogs_container {
  position: relative;
  left: 2rem;
}

.home-body__container .blogs_container .blog-container {
  margin-bottom: 2em;
}

.home-body__container .blogs_container .blog-container .image {
  width: 100%;
  height: auto;
}

.home-body__container .blogs_container .blog-container .blog-content__container .blog-title:hover {
  text-decoration: none;
  opacity: 0.5;
}

.home-body__container .blogs_container .blog-container .blog-content__container p {
  font-size: 16px;
}

.home-body__container .blogs_container .pagination_container {
  margin-left: 5rem;
  border: 1px solid;
  color: #18CC5D;
}

.home-body__container .blogs_container .pagination_container .page-link {
  color: #18CC5D;
}

.sidebar__container {
  width: 100%;
}

.sidebar__container .search__container {
  margin-bottom: 5em;
  margin-left: 4em;
}

.sidebar__container .recent-blogs__container {
  margin-bottom: 5rem;
  margin-left: 5em;
}

.sidebar__container .recent-blogs__container .recent-blog__container {
  margin: 1rem 0;
}

.sidebar__container .recent-blogs__container .recent-blog__container:hover {
  opacity: 0.5;
}

.sidebar__container .recent-blogs__container .recent-blog__container .image {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.sidebar__container .recent-blogs__container .recent-blog__container .recent-title {
  color: #000;
  padding: 0;
  margin: 0;
}

.sidebar__container .recent-blogs__container .recent-blog__container .recent-date {
  font-style: italic;
  color: #094D23;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.sidebar__container .category__contanier {
  margin-left: 5em;
}

.page-link {
  background-color: #18CC5D;
}

.page-link:hover {
  background-color: #18CC5D;
}

.footer {
  background-color: #2B2C36;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5em;
  position: relative;
  left: 0;
  right: 0;
}

.footer .logo, .footer .footer-social-icons, .footer .footer-subscribe, .footer .footer-text {
  margin: 0.5em 0;
}

.footer .footer-text p {
  color: #fff;
  font-size: 14px;
}

.about .about-image {
  border-radius: 20%;
  margin-left: 2em;
  height: 70vh;
}

.contact {
  width: 90%;
  position: relative;
  left: 10%;
  min-height: 60vh;
  margin-top: 5%;
}

.contact h2, .contact h3 {
  color: #094D23;
}

.contact .about-contact__subheading {
  font-style: italic;
  font-weight: 700;
  color: #094D23;
}

.contact .contact-details__contacts {
  margin: 2.5em 0;
}

.contact .contact-details__contacts span {
  font-size: 16px;
  color: #094D23;
}

.contact .contact-details__social {
  margin: 2.5em 0;
}

.error {
  color: red;
}

.single-blog {
  width: 90%;
  margin-left: 5%;
}

.single-blog .blog__container .blog-share {
  margin: 2em 0;
}

.single-blog .image {
  width: 100%;
  height: auto;
  max-width: 560px;
}

.single-blog .heading {
  font-size: 18px;
  background-color: #CC0E04;
  color: #fff;
  padding: 0.5em 0;
  width: 10em;
  text-align: center;
  margin-bottom: 2em;
}

.single-blog .single-featured {
  min-height: 50vh;
  margin: 3em 0;
}

.single-blog .single-featured .heading {
  margin-bottom: 2em;
}

.single-blog .author {
  border: dotted 2px;
  margin-top: 3em;
}

.single-blog .author .author-content {
  margin-left: 3em;
}

.single-blog .author .author-content .author-image {
  border-radius: 50%;
}

.single-blog .comments {
  width: 70%;
}

.single-blog .comments .comments__container {
  margin-left: 3em;
}

.single-blog .comments .comments__container .comment-image {
  border-radius: 50%;
  padding: 0.5em 1em;
  background-color: #18CC5D;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
  font-weight: bolder;
}

.single-blog .comments .comments__container .comment {
  margin-bottom: 2em;
}

.single-blog .comment-form {
  width: 70%;
  border: dotted 2px;
  padding: 1em;
}

.like-btn {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 2em;
  font-weight: bolder;
}

.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #e60074;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

body {
  margin: 0 2rem;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #18CC5D;
  font-family: 'Source Sans Pro','Open Sans', sans-serif;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 16px;
  color: #2B2C36;
  font-family: 'PT Sans', sans-serif;
  width: 90%;
}

ul li {
  list-style: none;
}

a[href=''] {
  text-decoration: none;
  color: #000;
}

a[href='']:hover {
  text-decoration: none;
}

.category {
  background: #CC0E04;
  color: #fff;
  padding: 0.4em 4em;
  border-radius: 10px;
  font-size: 0.8rem;
  margin: 1em 0;
}

.category:hover {
  opacity: 0.5;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links li a {
  padding: 0.5em;
  color: #18CC5D;
  font-size: 1rem;
}

.button {
  background-color: #CC0E04;
  color: #fff;
  width: 10em;
  padding: 0.5em 0;
  border-radius: 5px;
  border: none;
}

.button:hover {
  background: none;
  border: 1px solid #CC0E04;
  color: #CC0E04;
}

.date {
  font-style: italic;
  color: #2B2C36;
  padding: 1em 0;
  font-weight: bolder;
}

.has-errors {
  color: red;
}

.has-errors input {
  border: 2px solid red;
}

.has-errors textarea {
  border: 2px solid red;
}

.has-errors select {
  border: 2px solid red;
}

.has-errors .errors {
  font-style: italic;
  font-size: medium;
}

.errors {
  font-style: italic;
  font-size: medium;
  color: red;
}

.link {
  text-decoration: none;
}

.linkhover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

.container_404 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.container_404 h1 {
  font-size: 3em;
  font-weight: bolder;
}

.container_404 p {
  font-weight: bolder;
}
/*# sourceMappingURL=style.css.map */